@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@400&display=swap');
.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #efefff;
  background: #fcfcff;
}
.main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu-btn {
  font-family: 'Poppins', 'Merriweather';
  padding: 10px 15px;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #202142;
  opacity: 0.8;
}
.components-btn-notification {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-notification-c1 {
  position: absolute;
  left: 55%;
  right: 26.78%;
  top: 30.93%;
  bottom: 50.85%;
  border-radius: 50%;
  background: rgba(255, 106, 149, 0.4);
}
.btn-notification-c2 {
  position: absolute;
  left: 57.53%;
  top: 33.53%;
  border-radius: 50%;
  background: #ff6a95;
  width: 7px;
  height: 7px;
}
.components {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
.components-avatar {
  border-radius: 50%;
  background: rgba(255, 106, 149, 0.4);
  width: 45px;
}
.components-avatar img {
  width: 45px;
  border-radius: 50%;
}
.components-btn-filled {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  gap: 10px;
  background: #202142;
  border-radius: 10px;
  width: 58px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.components-btn-filled img {
  width: 24px;
  height: 24px;
}
