@tailwind base;
@tailwind components;
@tailwind utilities;

/* START Création de la transition avec Tailwind CSS */
.theme-switch:checked {
  @apply transition-transform transform translate-x-7 duration-500;
}

.theme-switch:checked + .theme-switch-label {
  @apply bg-blue-300;
}
/* END Création de la transition avec Tailwind CSS */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@400&display=swap');
.navbar-wrapper {
  @apply flex justify-around items-center px-10 py-4 border-b-2 border-b-[#efefff] dark:border-b-slate-700 bg-[#fcfcff] dark:bg-slate-800;
}
.main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu-btn {
  font-family: 'Poppins', 'Merriweather';
  padding: 10px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #202142;
  opacity: 0.8;
}
.components-btn-notification {
  position: relative;
  justify-content: center;
  align-items: center;
}
.btn-notification-c1 {
  position: absolute;
  left: 55%;
  right: 8.78%;
  top: 22.93%;
  bottom: 41.85%;
  border-radius: 50%;
  background: rgba(255, 106, 149, 0.2);
}
.btn-notification-c2 {
  position: absolute;
  left: 61.53%;
  top: 28.53%;
  border-radius: 50%;
  background: #ff6a95;
  width: 8px;
  height: 8px;
}
.components {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
.components-avatar {
  border-radius: 50%;
  background: rgba(255, 106, 149, 0.4);
  width: 45px;
}
.components-avatar img {
  width: 45px;
  border-radius: 50%;
}
.components-btn-filled {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  background: #202142;
  border-radius: 10px;
  width: 58px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.components-btn-filled img {
  width: 24px;
  height: 24px;
}

.content-wrapper {
  margin-top: 85px;
  display: flex;
}
.sidebar-left {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 1px solid #efefff;
  padding: 0 40px 40px 40px;
}
.heading-level-one {
  font-family: 'Merriweather';
  padding: 10px 15px 40px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}
.heading-level-two {
  font-family: 'Merriweather';
  padding: 10px 15px 30px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.heading-level-three {
  font-family: 'Merriweather';
  padding: 10px 15px 20px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.main-menu-btn-active {
  font-family: 'Poppins', 'Merriweather';
  padding: 10px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #202142;
  opacity: 0.8;
  background: #fcfcff;
  border: 1px solid #efefff;
  border-radius: 32px;
  width: 137px;
}
.main-content {
  font-family: 'Poppins';
  width: 100%;
  padding: 0 40px;
}
.main-content p {
  padding-left: 15px;
}
.one-line {
  display: flex;
  justify-content: space-between;
}
.one-line span {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 900;
  line-height: 27px;
}
.email-section {
  padding-bottom: 40px;
  border-bottom: 1px solid #efefff;
}
.pwd-section {
  padding: 40px 0;
  border-bottom: 1px solid #efefff;
}
.pwd-section p {
  padding: 20px 0 20px 10px;
}
.delete-section {
  padding: 20px 0 10px 0;
}
.delete-section a {
  color: #f00;
  margin-left: 10px;
}
.input-container input {
  height: 40px;
  border: 1px solid #c3c3e4;
  border-radius: 30px;
  width: 277px;
  padding: 0 15px;
}
.input-container {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.input-container label {
  padding-bottom: 15px;
}
.input-bloc-container {
  display: flex;
  margin-left: 10px;
}
button {
  margin-left: 10px;
  padding: 15px 30px;
  background: #202142;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins';
}
